body { margin: 0; }

.background-img {
  height: 100vh;
}

.gradient {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: linear-gradient(to top left, rgba(100, 100, 100, 0) 60%, rgba(0, 0, 0, 1));
}

.content {
  position: absolute;
  width: 230px;
  top: 50px;
  left: 8vw;
  margin: 0 auto;
  z-index: 10;
  animation: slideInFromLeft 1s;
}


.icons {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icons svg {
    vertical-align: top;
    transition: transform .8s ease-in-out;
}

.icons svg:hover {
    margin: 0 0 0 2px;
    color: #00b894;
    transform: rotate(360deg);
}

@media only screen and (max-width: 500px) {
  .gradient {
    background: linear-gradient(rgba(50, 50, 50, 0) 40%, rgba(0, 0, 0, 1));
  }
  .content {
    top: auto;
    left: 0;
    right: 0;
    bottom: 50px;
    animation: slideInFromBottom 1s;
  }
}

@keyframes slideInFromLeft {
  0% { transform: translateX(-100vw); }
  100% { transform: translateX(0); }
}

@keyframes slideInFromBottom {
  0% { transform: translateY(100vw); }
  100% { transform: translateY(0); }
}
